<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Jobs</title>

    <!-- Styles -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.1/css/bulma.min.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a href="{% url 'frontpage' %}" class="navbar-item">CodingJobs</a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if request.user.is_authenticated %}
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="button is-danger">Logout</button>
                        </form>
                        {% else %}
                        <a href="{% url 'signup' %}" class="button is-success">Sign up</a>
                        <a href="{% url 'login' %}" class="button is-light">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Main Content -->
    <section class="section">
        {% block content %}
        {% endblock %}
    </section>
    <!-- End Main Content -->
</body>
</html>